html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Inter";
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.aboutContainer {
    padding-bottom: 1.5rem;
    padding-top: 5rem;
    text-align: center;
}

.name {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 700;
}

.role {
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}

.imageDescription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.picture {
    max-width: 32rem;
    border: 2px solid rgb(120 113 108);
}

.pictureDescription {
    display: flex;
    margin-left: 3rem;
    flex-direction: column;
}

.pictureDescription > p {
    max-width: 28rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
}

.projectsOuterContainer {
    display: flex;
    padding-bottom: 1.5rem;
    padding-top: 5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subTitle {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
}

.projectsInnerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.projectCard {
    display: flex;
    overflow: hidden;
    padding-bottom: 1rem;
    margin: 1rem;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.375rem;
    border: 2px solid rgb(68 64 60);
    max-width: 24rem;
}

.projectImage {
    max-width: 100%;
}

.projectTitle {
    display: inline;
    padding: 0.125rem;
    border-radius: 0.125rem;
    font-weight: 600;
    background-color: rgb(241 245 249);
}

.projectTitle:hover {
    background-color: rgb(226 232 240);
}

.projectDescription {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.projectSkills {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.projectSkillItem {
    display: inline;
    padding: 0.375rem;
    margin: 0.25rem;
    border-radius: 0.375rem;
    border: 2px solid rgb(68 64 60);
}

.skillsOuterContainer {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skillsInnerContainer {
    display: flex;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    border-radius: 0.375rem;
    width: 67%;
    background-color: rgb(226 232 240);
}

.skillImage {
    border-radius: 0.5rem;
    max-height: 5rem;
}

.socialsOuterContainer {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
}

.socialsInnerContainer {
    display: flex;
    padding: 0.75rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    border-radius: 0.375rem;
    width: 66.666667%;
}

.socialImage {
    border-radius: 0.5rem;
    max-height: 3.5rem;
}
